body {
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: #004086;
    color: #ffffff; 
}
footer h5 {
    font-weight: 700; 
    
}
hr.custom-hr {
  background-color: #003071;
  height: 1.5px;
  border: none; 
  margin: 20px 0; 
}

.image-container {
  position: relative; 
}
.slogan {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  color: white; 
  font-size: 24px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}